---
title: Blog
image_view: true
---
<h1>Blog</h1>



{% if page.image_view %}
	{% for category in site.categories %}
		<h2>{{ category[0] }}</h2>
		<div class="recipes">
			<!-- Only output blog posts -->
			{% for post in category[1] %}
				{% if post.blog %}
					<div class="recipe" style="background-image: url('{{ post.featured_image }}')">
						<a href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.title }}</span></a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
